@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-600: #1d4ed8; /* Example primary color */
  --primary-700: #1e40af; /* Example hover color */
}

body {
  font-family: 'Roboto', sans-serif;
}

@layer utilities {
  .bg-gradient-top {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), transparent);
  }
  .bg-gradient-left {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), transparent);
  }
}